<%= form_for @coupon, url:{action: "create"} do |f| %>
<h1>Coupon Form</h1>
<br>
<%= f.label :coupon_code %>
<%= f.text_field :coupon_code %>
<%= f.label :store %>
<%= f.text_field :store %>
<%= f.submit "Submit Coupon" %>
<% end %>
